<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Coin Tracker</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div>
    <div class="formgroup">
      <label for="selectCoin"> Select Coin: </label>
      <select class="form-control" id="selectCoin">
      </select>
    </div>
    <div class="formgroup">
      <label for=inputAmount"> Amount </label>
      <input type="number" step="any" 
        class="form-control" id="inputAmount">
    </div>
    <button id="btnAdd" onclick="addCoin()" class="btn btn-primary"> 
      Add 
    </button>
    <div>
      <h2> Total Value: <span id="total"></span> </h2>
    </div>

    <div>
      <table id="tableCoin" class="table table-striped">
        <thead>
          <tr>
            <th>Coin</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <script src="static/index.js"></script>
</body>

</html>
